:root {
  --red-1: #e96c6c;
  --teal-1: #6ce9e9;
  --blue-1: #4646ff;
  --blue-2: #4646dd;
  --dark-1: #31302f;
  --dark-2: #3e3c3c;
  --gray-1: gray;
  --light-1: #e2e2e2;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0px 0px 5px 0px;
  margin:0;
}
header a{
  text-decoration: none;
  color:inherit;
}
body {
  margin: 0;
  background-color: var(--light-1);
  color: black;
  font-family:"Roboto", sans-serif;
}
*{
  box-sizing: border-box;
}
header {
  background-color: var(--dark-1);
  height: 70px;
  padding:15px 0px 0px 20px;
  color: var(--light-1);
}
a {
  color: var(--teal-1);
}
a:hover {
  color: var(--red-1);
}
button {
  width: 140px;
  height: 40px;
  font-size: 1.2rem;
  background-color: var(--blue-1);
  color: var(--light-1);
  border: none;
  border-radius: 5px;
  margin:5px;
}
button:hover {
  background-color: var(--blue-2);
}
.fullWidth{
  width:100%;
}
/* header, main etc. is in here. */
.wrapper {
  width: 100%;
  margin: auto;
}
/* used by js scripts */
.hidden{
  visibility: hidden;
}
/* targets divs where user's get systen status feedback */
.alert{
  font-weight: bold;
  padding:5px 0;
}

/* Used to contain the .featureArea items */
.featureAreaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0;
}
/* containers for the 3 main features (bank, work, laptops) */
.featureArea {
  background-color: var(--gray-1);
  border-radius: 5px;
  flex-grow: 1;
  flex-basis: 250px;
  margin: 20px;
  padding:15px;
}
.featureArea h2 {
  text-align: center;
}

/* container for a full-width feature area */
.featureAreaWide {
  display: flex;
  justify-content: space-evenly;
  background-color:var(--gray-1);
  border-radius: 5px;
  padding:15px;
}
.featureAreaWideLeft {
    flex-grow:1.5;
}
.featureAreaWideMiddle {
    flex-grow:0.5;
}
.featureAreaWideRight {
    flex-grow:3;
}

/*** Laptop Info Styling ***/
#laptopImage{
  width:500px;
  max-width: 100%;
}
/*** Laptops Info Styling ***/

/*** Media Queries START ***/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .featureAreaContainer{
    min-height: 250px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}
/*** Media Queries END ***/
